body{
    font-family: Arial, sans-serif;
    font-size: 12px;
    background-color: #010101;
    text-align: center;
}
h1 {
    flex-basis :100%;
    text-align : center;
    text-decoration : underline;
    color: #a80f72;
    margin-top :2%;
    font-size: 4vw;
}
a {
    flex-basis: 100%;
    text-align : center;
    margin-top : 2%;
    margin-bottom : 2%;
    color: #f38ac4;
    font-size: 1vw;
}
a:hover{
    color: #f36a75;
    text-decoration: underline;
}

#game {
    flex-basis :70%;
    margin-top : 10%;
    margin-bot :10%;
}
canvas{
    outline: 1px solid #0f124b;
    border: 3mm ridge rgb(70, 0, 136);
}
#joueur1{
    color: #00d595;
}
#joueur2{
    color: #fc2276;
}
#scores1{
    color: #00d595;
}
#scores2{
    color: #fc2276;
}
#scores{
    margin-top :5%;
    color: #ffffff;
    font-size : 4vw;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
}

.score{
    color: red;
}
.name{
    justify-content: center;
    font-size: 2vw;
}

#scores >* {
    margin: 3vw;
}